/* Firefox with Sidebery support

in about:config

- enable toolkit.legacyUserProfileCustomizations.stylesheets
- enable gnomeTheme.hideSingleTab (create it if not present)

in Sidebery Settings

- enable "Add preface" and set it to "◌ "
- add the following stylesheet:

```
#root.root {--general-border-radius: 8px;}
#root.root {--bottom-bar-height: 32px;}
#root.root {--general-margin: 0px;}
#root.root {--bookmarks-bookmark-height: 32px;}
#root.root {--bookmarks-folder-height: 32px;}
#root.root {--bookmarks-margin: 8px;}
#root.root {--tabs-margin: 8px;}
#root.root {--tabs-pinned-height: 32px;}
#root.root {--tabs-pinned-width: 32px;}
#root.root {--tabs-height: 32px;}
#root.root {--nav-btn-margin: 4px;}
#root.root {--nav-btn-width: 32px;}
#root.root {--nav-btn-height: 32px;}
#root.root {--nav-btn-active-shadow: none; }
#root.root {--bookmarks-expanded-folder-shadow: none;}
```

in Settings

- in Appearance, set "Font size" S
- disable "Show sidebar" to make Sidebery immersive

*/

/* Hide Sidebar Header

Bookmarks - Ctrl + B
History - Ctrl + H
Chatbot - Ctrl + Shift + X
Sidebery - Ctrl + E
*/
#sidebar-box #sidebar-header,
#webextpanels-window #sidebar-panel-header {
	display: none !important;
}

#sidebar-splitter {
	width: 1.5px !important;
	min-width: 1.5px !important;
}

/* Hide Tab Bar when sidebery is open / only one tab is open */
:root:has(#tabbrowser-tabs .tabbrowser-tab:only-of-type),
#main-window[titlepreface*="◌ "] {
	& #TabsToolbar {
		display: none !important;
	}
}

:root:has(#tabbrowser-tabs .tabbrowser-tab:only-of-type) {
	& #sidebar-main {
		display: none !important;
	}
}
